footer {
    /* 추가 */
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 280px;
    background-color: #cbcbcb;
    margin: 0 auto;
    text-align: center;
    bottom: 0px;
    z-index: 3;
    /* 추가 */
    /* bottom: 0; */
}

footer p{
    color:#898989;
}