#explanation {
    padding: 80px 0; 
}

#explanation h2{
    margin-top: 40px;
    font-weight: 600;
    color: black;
    text-align: center;
}

.exp-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    margin: 30px auto 0;
    
}

.exp-header h3 {
    margin: 0;
    line-height: 60px;
}

.exp-header p {
    color: #8e8e8e;
    
}


.exp-box {
    display: flex;
    padding: 28px 20px 40px;
    justify-content: center;
}

.exp-box form {
    height: auto;
}

.exp-content{
    border: 1px solid whitesmoke;
    margin: 0 20px 20px;
    padding: 30px 40px 40px;
    max-width: 700px;
    min-width: 500px;
    text-align: left;
    text-decoration: none;
}


textarea {
    max-width: 100%;
    min-width: 100%;
    display: block;
    min-height: 140px;
    padding: 10px;
}

.img_wrap {
    display: none;
    justify-content: center;
    align-items: center;
}

.img_wrap img{
    width: 100%;
}